@font-face {
  font-family: 'Nunito-Bold';
  src: url('./fonts/static/Nunito-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-normal';
  src: url('./fonts/static/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-medium';
  src: url('./fonts/static/Rubik-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/static/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans-Bold';
  src: url('./fonts/static/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
